openapi: 3.1.0
info:
  title: Heavy Equipment Rental System API
  version: 0.1.0
  license:
    name: Apache License 2.0
    identifier: Apache-2.0
  description: |
    Heavy Equipment Rental System for contractors, warehouse admins, and field operators.
    All monetary amounts are integers in the minor unit of the stated currency. Clients MUST ignore unknown response fields.
servers:
  - url: https://api.heavyrental.co/v1
    description: Production
  - url: https://staging.heavyrental.co/v1
    description: Staging
security: []
paths:
  /equipments:
    get:
      operationId: listEquipments
      summary: List available equipment
      description: Returns equipment for scheduling and reservation. Clients may filter by status or equipment type.
      parameters:
        - name: status
          in: query
          required: false
          description: Filter equipment by operational status.
          schema:
            type: string
            enum:
              - available
              - reserved
              - in_progress
              - maintenance
              - out_of_service
            example: available
        - name: type
          in: query
          required: false
          description: Filter equipment by machine class.
          schema:
            type: string
            enum:
              - excavator
              - wheel_loader
              - bulldozer
              - crane
              - compactor
            example: excavator
      responses:
        '200':
          description: Equipment collection retrieved successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Equipment'
        '400':
          $ref: '#/components/responses/BadRequest'
  /rentals:
    get:
      operationId: listRentals
      summary: List rental records
      description: Returns rental records for the active tenant context. Filter results by status to support warehouse approval workflows.
      parameters:
        - name: status
          in: query
          required: false
          description: Filter rentals by workflow status.
          schema:
            type: string
            enum:
              - draft
              - approved
              - in_progress
              - active
              - completed
              - cancelled
              - rejected
            example: approved
      responses:
        '200':
          description: Rental collection retrieved successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Rental'
        '400':
          $ref: '#/components/responses/BadRequest'
    post:
      operationId: createRental
      summary: Create rental contract
      description: Creates a rental contract after scheduling validation and digital deposit review.
      parameters:
        - name: Idempotency-Key
          in: header
          required: true
          description: Generated by the client when the user confirms, and reused unchanged for every retry of that same intent. Retained 24 hours. Reuse with a different body returns 409 idempotency-key-reuse.
          schema:
            type: string
            format: uuid
            example: 0f7c1b9e-3d21-4a6f-9c05-8e2b7d41a9f0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - equipmentId
                - contractorId
                - warehouseAdminId
                - startTime
                - endTime
                - depositAmount
                - currency
              properties:
                equipmentId:
                  type: string
                  pattern: '^[a-z]+_[A-Za-z0-9]{6,12}$'
                  example: eqp_8X2kAB
                contractorId:
                  type: string
                  pattern: '^[a-z]+_[A-Za-z0-9]{6,12}$'
                  example: ctr_72Xp9C
                warehouseAdminId:
                  type: string
                  pattern: '^[a-z]+_[A-Za-z0-9]{6,12}$'
                  example: adm_19Lq2f
                startTime:
                  type: string
                  format: date-time
                  example: '2026-09-15T08:00:00Z'
                endTime:
                  type: string
                  format: date-time
                  example: '2026-09-18T17:00:00Z'
                depositAmount:
                  type: integer
                  minimum: 0
                  example: 150000
                currency:
                  type: string
                  pattern: '^[A-Z]{3}$'
                  example: USD
      responses:
        '201':
          description: Rental created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rental'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /rentals/{id}:
    get:
      operationId: getRentalById
      summary: Get rental by ID
      description: Returns the current status and details of a rental contract.
      parameters:
        - name: id
          in: path
          required: true
          description: Opaque rental identifier returned by the server.
          schema:
            type: string
            pattern: '^[a-z]+_[A-Za-z0-9]{6,12}$'
            example: rnt_3MnB7xP
      responses:
        '200':
          description: Rental record retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rental'
        '404':
          $ref: '#/components/responses/NotFound'
  /rentals/{id}/inspections:
    post:
      operationId: createInspection
      summary: Create inspection record
      description: Records a field inspection for received or returned equipment. Offline operators may submit later when connectivity is restored.
      parameters:
        - name: id
          in: path
          required: true
          description: Rental identifier linked to the inspection.
          schema:
            type: string
            pattern: '^[a-z]+_[A-Za-z0-9]{6,12}$'
            example: rnt_3MnB7xP
        - name: Idempotency-Key
          in: header
          required: true
          description: Generated when the operator confirms an inspection and reused unchanged for every retry of that same inspection. Retained 24 hours. Reuse with a different body returns 409 idempotency-key-reuse.
          schema:
            type: string
            format: uuid
            example: 6f4a43c1-c1fb-4a77-aeff-2a7e23cb467f
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - equipmentId
                - operatorId
                - status
                - inspectedAt
                - notes
              properties:
                equipmentId:
                  type: string
                  pattern: '^[a-z]+_[A-Za-z0-9]{6,12}$'
                  example: eqp_8X2kAB
                operatorId:
                  type: string
                  pattern: '^[a-z]+_[A-Za-z0-9]{6,12}$'
                  example: opr_84Qm1a
                status:
                  type: string
                  enum:
                    - pending_review
                    - in_progress
                    - pass
                    - fail
                  description: "Clients MUST treat an unrecognised value as 'in progress' and MUST NOT crash on it."
                  example: pass
                inspectedAt:
                  type: string
                  format: date-time
                  example: '2026-09-17T10:45:00Z'
                notes:
                  type: string
                  example: Hydraulic line shows minor wear but remains serviceable.
                defectSummary:
                  type: string
                  example: None detected during visual inspection.
      responses:
        '201':
          description: Inspection created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Inspection'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
components:
  schemas:
    Equipment:
      type: object
      required:
        - id
        - type
        - status
        - hourlyRate
        - currency
        - location
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
          pattern: '^[a-z]+_[A-Za-z0-9]{6,12}$'
          example: eqp_8X2kAB
        type:
          type: string
          enum:
            - excavator
            - wheel_loader
            - bulldozer
            - crane
            - compactor
          example: excavator
        status:
          type: string
          enum:
            - available
            - reserved
            - in_progress
            - maintenance
            - out_of_service
          description: "Clients MUST treat an unrecognised value as 'in progress' and MUST NOT crash on it."
          example: available
        hourlyRate:
          type: integer
          minimum: 0
          example: 2500
        currency:
          type: string
          pattern: '^[A-Z]{3}$'
          example: USD
        location:
          type: string
          example: Warehouse B - Bay 4
        createdAt:
          type: string
          format: date-time
          example: '2026-08-01T09:00:00Z'
        updatedAt:
          type: string
          format: date-time
          example: '2026-09-03T08:42:00Z'
    Rental:
      type: object
      required:
        - id
        - equipmentId
        - contractorId
        - warehouseAdminId
        - status
        - startTime
        - endTime
        - depositAmount
        - currency
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
          pattern: '^[a-z]+_[A-Za-z0-9]{6,12}$'
          example: rnt_3MnB7xP
        equipmentId:
          type: string
          pattern: '^[a-z]+_[A-Za-z0-9]{6,12}$'
          example: eqp_8X2kAB
        contractorId:
          type: string
          pattern: '^[a-z]+_[A-Za-z0-9]{6,12}$'
          example: ctr_72Xp9C
        warehouseAdminId:
          type: string
          pattern: '^[a-z]+_[A-Za-z0-9]{6,12}$'
          example: adm_19Lq2f
        status:
          type: string
          enum:
            - draft
            - approved
            - in_progress
            - active
            - completed
            - cancelled
            - rejected
          description: "Clients MUST treat an unrecognised value as 'in progress' and MUST NOT crash on it."
          example: approved
        startTime:
          type: string
          format: date-time
          example: '2026-09-15T08:00:00Z'
        endTime:
          type: string
          format: date-time
          example: '2026-09-18T17:00:00Z'
        depositAmount:
          type: integer
          minimum: 0
          example: 150000
        currency:
          type: string
          pattern: '^[A-Z]{3}$'
          example: USD
        createdAt:
          type: string
          format: date-time
          example: '2026-09-10T15:00:00Z'
        updatedAt:
          type: string
          format: date-time
          example: '2026-09-11T09:30:00Z'
    Inspection:
      type: object
      required:
        - id
        - rentalId
        - equipmentId
        - operatorId
        - status
        - inspectedAt
        - notes
      properties:
        id:
          type: string
          pattern: '^[a-z]+_[A-Za-z0-9]{6,12}$'
          example: ins_9Hk2pQ
        rentalId:
          type: string
          pattern: '^[a-z]+_[A-Za-z0-9]{6,12}$'
          example: rnt_3MnB7xP
        equipmentId:
          type: string
          pattern: '^[a-z]+_[A-Za-z0-9]{6,12}$'
          example: eqp_8X2kAB
        operatorId:
          type: string
          pattern: '^[a-z]+_[A-Za-z0-9]{6,12}$'
          example: opr_84Qm1a
        status:
          type: string
          enum:
            - pending_review
            - in_progress
            - pass
            - fail
          description: "Clients MUST treat an unrecognised value as 'in progress' and MUST NOT crash on it."
          example: pass
        inspectedAt:
          type: string
          format: date-time
          example: '2026-09-17T10:45:00Z'
        notes:
          type: string
          example: Hydraulic line shows minor wear but remains serviceable.
        defectSummary:
          type: string
          example: None detected during visual inspection.
    Problem:
      type: object
      required:
        - type
        - title
        - status
        - detail
        - instance
      properties:
        type:
          type: string
          format: uri-reference
          example: https://api.domain.example/problems/validation-error
        title:
          type: string
          example: Validation error
        status:
          type: integer
          format: int32
          minimum: 100
          maximum: 599
          example: 422
        detail:
          type: string
          example: The request content does not satisfy the required contract rules.
        instance:
          type: string
          format: uri-reference
          example: https://api.domain.example/v1/rentals
        unavailableDates:
          type: array
          items:
            type: string
            format: date
            example: '2026-09-15'
          example:
            - '2026-09-15'
            - '2026-09-16'
        conflictingRentalId:
          type: string
          pattern: '^[a-z]+_[A-Za-z0-9]{6,12}$'
          example: rnt_3MnB7xP
  responses:
    BadRequest:
      description: The request could not be processed because the client supplied invalid input.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          examples:
            invalidRequest:
              summary: Required idempotency key is missing.
              value:
                type: https://api.heavyrental.co/problems/invalid-request
                title: Invalid request
                status: 400
                detail: Idempotency-Key is required for this operation.
                instance: /v1/rentals
    NotFound:
      description: The specified resource was not found.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          examples:
            resourceNotFound:
              summary: Rental ID does not exist.
              value:
                type: https://api.heavyrental.co/problems/resource-not-found
                title: Resource not found
                status: 404
                detail: Rental rnt_3MnB7xP does not exist.
                instance: /v1/rentals/rnt_3MnB7xP
    Conflict:
      description: The request conflicts with the current state of the resource, including idempotency-key reuse or date conflicts.
      headers:
        Retry-After:
          $ref: '#/components/headers/RetryAfter'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          examples:
            scheduleConflict:
              summary: Requested equipment is already scheduled.
              value:
                type: https://api.heavyrental.co/problems/rental-schedule-conflict
                title: Rental schedule conflicts with an existing rental
                status: 409
                detail: Equipment eqp_8X2kAB is unavailable for the requested period.
                instance: /v1/rentals
                conflictingRentalId: rnt_3MnB7xP
                unavailableDates:
                  - '2026-09-15'
                  - '2026-09-16'
            idempotencyKeyReuse:
              summary: A key was reused with a different request body.
              value:
                type: https://api.heavyrental.co/problems/idempotency-key-reuse
                title: Idempotency key was reused for a different request
                status: 409
                detail: The supplied key is already associated with another request body.
                instance: /v1/rentals
            requestInProgress:
              summary: The original request is still being processed.
              value:
                type: https://api.heavyrental.co/problems/idempotency-request-in-progress
                title: Idempotent request is still in progress
                status: 409
                detail: Retry this request after the interval stated in Retry-After.
                instance: /v1/rentals
            inspectionConflict:
              summary: Inspection duplicates an existing record.
              value:
                type: https://api.heavyrental.co/problems/inspection-conflict
                title: Inspection conflicts with the current equipment state
                status: 409
                detail: An inspection for this equipment and event has already been recorded.
                instance: /v1/rentals/rnt_3MnB7xP/inspections
                conflictingRentalId: rnt_3MnB7xP
    UnprocessableEntity:
      description: The request was well-formed but the server could not process it due to business rules.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          examples:
            requestValidationFailed:
              summary: Required idempotency key is missing.
              value:
                type: https://api.heavyrental.co/problems/request-validation-failed
                title: Request validation failed
                status: 422
                detail: Idempotency-Key is required for this operation.
                instance: /v1/rentals
            rentalRuleViolation:
              summary: Rental violates a business rule.
              value:
                type: https://api.heavyrental.co/problems/rental-rule-violation
                title: Rental cannot be processed
                status: 422
                detail: The requested rental period does not satisfy the minimum rental duration.
                instance: /v1/rentals
            inspectionRuleViolation:
              summary: Inspection violates a business rule.
              value:
                type: https://api.heavyrental.co/problems/inspection-rule-violation
                title: Inspection cannot be processed
                status: 422
                detail: A return inspection cannot be submitted before rental activation.
                instance: /v1/rentals/rnt_3MnB7xP/inspections
  headers:
    RetryAfter:
      description: Present only when a request with the same idempotency key and body is still being processed; retry after this number of seconds.
      schema:
        type: integer
        minimum: 1
        example: 3
